.cart{
    position: sticky;
    top: 0;
    padding: 20px 15px;
}
.cart .cart-title{
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}